# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so


# pliki dzwiekowe #
###################
*.wav
*.mp3

# ide files       #
###################
*.log
.metadata
.cproject
.project
Debug
